<!DOCTYPE html>
{% block content %}
<head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
</head>
<body>
    <div class = "login">
        <div class="card text-white bg-dark mb-3" style="max-width: 900px; min-width: 400 px; margin:0 auto; margin-top: 2%;">
            <div class="card-body">
                <h3 style="margin-left: 35%; margin-top:1%;font-weight:bold;">Task Form</h3>
              <p class = "card-text">
                <form method="POST" action="">
                    {% csrf_token %}
                    <table class = "table table-striped table-dark" style="max-width: 200px; min-width: 100px; margin:0 auto;">
                        {{form.as_table}}
                        <tr>  
                            <td></td>
                            <td><input class = "btn btn-light" type="submit" value="Create Task" style="font-weight:bold;"/></td>
                        </tr>
                    </table>
                </form>
              </p>
            </div>
          </div>
    
    
    </div>

    {% endblock content %}
</body>
</html>