<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title >Login</title>
</head>

<body>
    {% block content %}
    
    <div class = "login">
    
        <h1 style="font-size: x-large; margin-left: 45%; margin-top: 8%;">Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table table-striped table-dark" style = "width: 25%; margin-left: 35%;">
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" class="form-control""</td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Login" style= "background-color: white;"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul style="margin-left: 35%;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     

         <a style = "margin-left: 35%;"href="{% url 'todolist:register' %}">Buat Akun</a>
    
    </div>
    
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>